.navbar {
    background-color: #f7f2ee;
}

.logo{
    cursor:pointer;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
}

.navbar-subtitle {
    text-transform: uppercase;
    font-size: 0.50rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.10rem;
}

.navbar-nav > a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 550;
    letter-spacing: 0.20rem;
    margin-right: 1.5rem;
    padding: 0.25rem;
    color: #000;
    text-decoration: none;
}

.socials > img {
    margin-left: 1.25rem;
    width: 1.5rem;
}

@media screen and (max-width: 992px) {
    .navbar {
        background-color: #fff;
    }
    
    .socials > img {
        margin-right: 1.25rem;
        margin-left: 0rem;
        width: 1rem;
        padding-top: 2rem;
    }
  }