.navbar {
  background-color: #f7f2ee;
}

.logo {
  cursor: pointer;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive !important;
}

.navbar_subtitle {
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
}

.navbar-nav > a {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 550;
  letter-spacing: 0.2rem;
  margin-right: 1.5rem;
  padding: 0.25rem;
  color: #000;
  text-decoration: none;
}

.social_media {
  margin-left: 1.25rem;
  width: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.social_media:hover {
  transform: translate(0, -5px);
}

@media screen and (max-width: 769px) {
  .navbar {
    background-color: #fff;
  }

  .navbar-nav > a {
    background-color: #fcfcfc;
    padding-left: 1rem;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }

  .navbar-nav > a:hover {
    background-color: #fff;
    padding-left: 2rem;
  }

  .social_media {
    margin-right: 1.25rem;
    margin-left: 0rem;
    width: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 412px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar_subtitle {
    display: none;
  }

  .navbar-nav > a {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }

  .navbar-nav > a:hover {
    background-color: #fff;
    padding-left: 2rem;
    letter-spacing: 0.2rem;
  }
  
}
