@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.section_margin {
  padding: 5rem 0;
}

.section_padding {
  padding: 5rem 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}

.sub_title {
  text-align: center;
  color: gray;
  margin-bottom: 2rem;
}

.brown {
  background: #f7f2ee;
}

